@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body, footer, header {
    font-family: 'Poppins', sans-serif;
}

footer, header, .s-012-text { 
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

footer {
    bottom: 0;
    position: static;
}

ul li {
    text-decoration: none;

}

section {
    padding: 2vw;
}


/*
----------------------------------------------------------------
                Section styles          
----------------------------------------------------------------
*/

.s-001-text {
        text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}


.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}


.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}


.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}


.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}



.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

