@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');



body, footer, header {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

footer, header, .s-012-text, .s-026-text { 
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.s-020-text, .s-029-text { 
    background-color: #F3772A;
    color: #ffffff;
    text-align: left;
    padding: 2vw;
}

.s-020-text, .s-029-text { 
    background-color: #CAC7C6;
    color: #ffffff;
    text-align: left;
    padding: 2vw;
}

footer, header {
    padding: 1vw;
}

footer {
    bottom: 0;
    position: static;
}

ul li,
li {
    text-decoration: none;
    display: inline;
    padding: 1vw;
}

section {
    padding: 2vw;
}

.soclmd {
    font-size: 2.2vw;
    padding: 1vw;

}


/*
----------------------------------------------------------------
                Section styles          
----------------------------------------------------------------
*/

.s-001-text {
        text-emphasis: none;
}

.s-002-text {
    text-emphasis: none;
}

.s-003-text {
    text-emphasis: none;
}

.s-004-text {
    text-emphasis: none;
}

.s-005-text {
    text-emphasis: none;
}

.s-006-text {
    text-emphasis: none;
}


.s-007-text {
    text-emphasis: none;
}

.s-008-text {
    text-emphasis: none;
}

.s-009-text {
    text-emphasis: none;
}

.s-010-text {
    text-emphasis: none;
}

.s-011-text {
    text-emphasis: none;
}

.s-012-text {
    text-emphasis: none;
}

.s-013-text {
    text-emphasis: none;
}

.s-014-text {
    text-emphasis: none;
}

.s-015-text {
    text-emphasis: none;
}

.s-016-text {
    text-emphasis: none;
}


.s-017-text {
    text-emphasis: none;
}

.s-018-text {
    text-emphasis: none;
}

.s-019-text {
    text-emphasis: none;
}

.s-020-text {
    text-emphasis: none;
}

.s-021-text {
    text-emphasis: none;
}


.s-022-text {
    text-emphasis: none;
}

.s-023-text {
    text-emphasis: none;
}

.s-024-text {
    text-emphasis: none;
}

.s-025-text {
    text-emphasis: none;
}

.s-026-text {
    text-emphasis: none;
}


.s-027-text {
    text-emphasis: none;
}

.s-028-text {
    text-emphasis: none;
}

.s-029-text {
    text-emphasis: none;
}

.s-030-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}



.s-00#-text {
    text-emphasis: none;
}

.s-00#-text {
    text-emphasis: none;
}

